<%= simple_form_for @post, html: {class: "okok"}, wrapper: :horizontal_form do |f| %>
  <%= f.input :name %>
  <%= f.input :content %>
  <%# if @post.image? %>
    <%= image_tag @post.image_url(:thumb) %>
  <%# end %>
  <%= f.input :image, as: :file, wrapper: :horizontal_file %>
  <%= f.button :submit %>
  <p>
    GRACE À "carriewave" DANS LE TERMINAL (rails c) IL EST POSSIBLE D'UTILISER DES MÉTHODES
    SUR UNE INSTANCE DE Post PERMETTANTS DE RÉALISER DES TRAVAIL SUR LES IMAGES:
    <ul>
      <li>p.image.recreate_versions!</li>
      <li>p.remove_image!</li>
      <li>p.remote_image_url = "URL_À_FOURNIR"</li>
    </ul>
    ET À LA FIN IL SUFFIT DE FAIRE: p.save POUR TOUT SAUVEGARDER
  </p>
<% end %>
<hr>
==========
==========
==========
<hr>
<%= simple_form_for @post, html: {class: "okok"}, wrapper: :horizontal_form do |f| %>
  <%= f.input :name %>
  <%= f.input :content, label: "pas conteeeeent!", as: :file, wrapper: :horizontal_file %>
  <p>
    pour voir les associations: 
    <%= link_to "okok", :edit_user_registration %>
  </p>
  <%= f.input :content, as: :string, input_html: {class:"form-datepicker"}, label_html: {class:"laaaabbeeeel"} %>
  <%= f.input :user, as: :string, input_html: {class:"form-datepicker"}, label_html: {class:"laaaabbeeeel"} %>
  <%= f.input :country %>
  <%= f.input :country, as: :string %>
  <%= f.button :submit %>
<% end %>
<hr>
==========
==========
==========
<hr>







<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
