<div id="<%= dom_id post %>">
  <p>
    <strong>Image:</strong>
    <%# if @post.image? %>
      <%= image_tag post.image_url(:thumb) %>
    <%# end %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

</div>
